{% extends "base.html" %}

{% block content %}
  <div class="col-sm-8 text-center">
  <h1>EDOCManager centralize and organize your documents, so you can create and communicate anywhere in the world. Create documents, manage documents, and stay connected every step of the way.</h1>
  <p>Our Mission : To connect people to their documents anywhere anytine in the world! </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Highly Reliable</h3>
      <p>We never go down</p>
    </div>
    <div class="col-sm-4">
      <h3>Highly Performant</h3>
      <p>Service at very low latency.</p>
    </div>
    <div class="col-sm-4">
      <h3>Secure</h3>
      <p>World Class security to manage your documents</p>
    </div>
  </div>
</div>
{% endblock %}

