{% extends "base.html" %}

{% block content %}
      <br> </br>
      <br> </br>
      <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-4 form-group-lg col-centered">
      <div class="center-div">
      <div class = "panel panel-default">
      <div class = "panel-heading">
         <h3 class = "panel-title">Login to EDOCManager</h3>
      </div>
      <div class="panel-body">
      <div class="input-group">
    <br> </br>
    <br> </br>
 <form action="{{ url_for('login') }}" method="POST">
      {% if error %}
         <div class="error text-danger">{{ error }}</dev>
      {% endif %}
      {% from "_formshelper.html" import render_field %}
      <Form method="POST" action="{{ url_for('register')}}" role="form">
         {{ form.hidden_tag() }}
         {{ render_field(form.username, class='form-control') }}
         {{ render_field(form.password, class='form-control') }}
         <br> </br>
         <button class="btn btn-primary" type="submit">Login to App</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

