{% extends "base.html" %}

{% block content %}
<div class="row">
      <div class="col-lg-4 col-lg-offset-4">
      <div class="input-group">
       
      <h3> User Registeration </h3>
      {% if error %}
         <div class="error text-danger">{{ error }}</div>
      {% endif %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
 	  <div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
         	{{message}}
	  </div>
	{% endfor %}
	{% endif %}
	{% endwith %}
      {% from "_formshelper.html" import render_field %}
      <Form method="POST" action="{{ url_for('register')}}" role="form">
         {{ form.hidden_tag() }}
         {{ render_field(form.fullname, class='form-control') }}
         {{ render_field(form.email, class='form-control') }}
         {{ render_field(form.username, class='form-control') }}
         {{ render_field(form.password, class='form-control') }}
         {{ render_field(form.confirm, class='form-control') }}
         <br> </br>
         <button class="btn btn-primary" type="submit">Register</button>
</div>
</div>
{% endblock %}
